.page-header {
  box-sizing: border-box;
  display: flex;
  padding: 0px 135px;
  align-items: center;
  justify-content: space-between;
  min-height: 106px;

  @media (max-width: $tablet-width) {
    min-height: 76px;
    padding: 0px 32px;
  }
}
