/* Fonts */

// Roboto

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Regular"),
    url("../fonts/roboto/Roboto-Regular400.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular400.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular400.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"),
    url("../fonts/roboto/Roboto-Medium500.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Medium500.woff") format("woff"),
    url("../fonts/roboto/Roboto-Medium500.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"),
    url("../fonts/roboto/Roboto-Bold700.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Bold700.woff") format("woff"),
    url("../fonts/roboto/Roboto-Bold700.ttf") format("truetype");
}

// Inter

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff"),
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"),
    url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter-Medium.woff") format("woff"),
    url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter Bold"),
    url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter/Inter-Bold.woff") format("woff"),
    url("../fonts/inter/Inter-Bold.ttf") format("truetype");
}
