//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$main-color: #0097f0;
$blue: #004ba5;
$grey1: #666666;
$grey2: #c9cbc8;

// Text colors
$text-black: #232328;

$gold: #b79069;
$bcg-black: #1e1e1e;
$terms-color: #5b5b5b;
$referal: #dadada;
$btn-color: #f5ee36;

//Bcg
$bcg-promo: rgba(0, 75, 165, 0.9);
$bcg-input: #fcfcfd;

// Viewprts
$tablet-width: 1024px;
